button {
  font-family: "Jost";
  background-color: var(--main-red-color);
  border-radius: var(--border-radius);
  color: #fff;
  height: 36px;
  font-size: 15px;
  font-weight: 500;
  padding-inline: 32px;
  transition: background-color 0.1s;

  &:hover {
    background-color: rgba(197, 7, 61, 0.75);
  }

  &[style*="background-color: transparent"]:hover {
    background-color: var(--main-red-color) !important;
  }

  &.disabled {
    pointer-events: none;
    background-color: #25272E;
    color: #5C5C5C;
  }
}

button.transparent {
  background-color: transparent;
  border: 2px solid var(--main-red-color);

  &:hover {
    background-color: var(--main-red-color) !important;
  }
}