:root {
  --bg-color: #13161D;
  --secondary-color: #191C24;
  --main-red-color: #C5073D;
  --main-border-color: #25272E;
  --border-radius: 8px;
  --border-blocks: 10px;
}

button {
  appearance: none;
  outline: none;
  border: none;
  box-shadow: none;
  background: 0;
  background: none;
  cursor: pointer;
}

input {
  font-family: "Jost";
  font-size: 16px;
  appearance: none;
  outline: none;
  border: none;
}

textarea {
  width: 100%;
  font-family: "Jost";
  background-color: var(--secondary-color);
  border: none;
  resize: none;
  // overflow: hidden;

  &:focus {
    outline: none;
  }
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
  margin-block: 10px 0;
  font-family: "Brygada 1918";
  font-size: 52px;
  font-weight: 700;
}

h2 {
  width: 100%;
  text-align: center;
  color: #B0B0B0;
  margin: 20px 0;
  margin-top: 100px;
  font-family: "Brygada 1918";
  font-size: 60px;
  font-weight: 700;
}

h3 {
  font-family: "Jost";
  font-weight: 700;
  font-size: 45px;
  margin: 0;
  color: #FFF;
}

h4 {
  color: var(--main-red-color);
  margin: 0;
  font-family: "Jost";
  font-size: 22px;
  font-weight: 600;
}

p {
  color: #B0B0B0;
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}

.text-red {
  color: var(--main-red-color);
}