.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.sidebar {
  min-width: 260px;
  background-color: var(--secondary-color);
  height: 100%;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .new-conspect-button {
    height: 40px;
    width: 136px;
    margin-top: 40px;
    gap: 0 7px;
    padding: 10px 0;
    justify-content: center;
    color: #ebebeb;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
  }

  .line {
    height: 1px;
    border-radius: 1px;
    width: 92%;
    margin-block: 30px;
    background-color: var(--main-border-color);
  }

  .content {
    width: 100%;
    padding-bottom: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Jost";
    font-size: 16px;
    color: #AAA;

    .user-block {
      padding-inline: 5px;

      .upgrade-price-plan,
      .profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
      }

      .upgrade-price-plan {
        padding: 8px 10px;
        border: 1px solid var(--main-red-color);
        border-radius: var(--border-blocks);

        img {
          margin-right: 8px;
        }

        div {
          display: flex;
          align-items: center;
        }

        .plan-level {
          font-size: 15px;
          color: #707070;
          font-weight: 500;
        }
      }

      .profile {
        margin-top: 9px;
        padding-block: 3px;
        border-radius: var(--border-radius);
        padding-right: 10px;
        
        
        div {
          display: flex;
          align-items: center;

          img {
            margin-left: 3px;
          }
        }

        .avatar {
          margin-right: 8px;
        }
      }

      .profile:hover,
      .upgrade-price-plan:hover {
        background-color: #22252E;
      }
    }
  }
}

.chat-wrapper {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
}

.chat {
  width: 99.55%;
  height: 98.5%;
  background-color: var(--bg-color);
  border: 1px solid var(--main-border-color);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  .main-prompt-input {
    border-radius: 20px;
    padding: 15px 15px 12px;
    width: 55%;
    max-width: 740px;
    background-color: var(--secondary-color);
    border: 0.8px solid var(--main-border-color);

    textarea {
      display: block;
      padding: 0;
      color: #AAA;
      min-height: 80px;
      max-height: 250px;
      font-size: 16px;
      font-weight: 400;

      &::placeholder {
        color: #707070;
        font-size: 15px;
      }
    }

    .input-tools {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
    
      .conspect-config {
        display: flex;
        justify-content: space-between;
        width: 46%;

        .config {
          border: 1px solid var(--main-border-color);
          font-weight: 400;
          color: #AAA;
          padding: 6px 16px;
          border-radius: 40px;
          white-space: nowrap;
      
          &:hover, &.active {
            border-color: #2E1A27 !important;
            background-color: rgba(197, 7, 61, 0.1) !important;
            color: var(--main-red-color);
          }
        }
      }
    
      .actions {
        display: flex;

        img {
          cursor: pointer;

          &:hover {
            filter: brightness(0.8);
          }
        }

        .record-button {
          gap: 0 5px;
          padding: 7px 16px;
          margin-left: 15px;
          border-radius: 40px;
        }
      }
    }
  }
}