// @use "../../shared/ui/mixins" as mixin;

.dropdown {
  position: absolute;
  right: -185px;
  bottom: -13%;
  background-color: #191C24;
  border-radius: var(--border-blocks);
  -moz-border-radius: var(--border-blocks);
  -webkit-border-radius: var(--border-blocks);
  padding: 5px;
  max-width: 184px;
  height: max-content;
  z-index: 1;

  transform: translateX(-10px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 97%;
    top: 1%;
    width: 0;
    height: 0;
    border-top: 1px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 62px solid transparent;
  }

  &.--enter {
    animation: fadeIn var(--short-transition) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  }

  &.--exit {
    animation: fadeOut var(--short-transition) ease-in forwards;
    cursor: default !important;
  }

  .dropdown-button {
    color: var(--light-gray);
    background-color: transparent;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    padding: 5px;
    padding-top: 3px;
    padding-right: 10px;
    width: 100%;
    max-width: none;

    &:hover {
      background-color: var(--main-border-color);
    }
  }
}

@keyframes fadeIn {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

@keyframes fadeOut {
  from {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  to {
    transform: translateX(-10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}