@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  height: 100vh;
}

.form-container {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-logo {
  position: absolute;
  top: 40px;
}

.back-arrow {
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
}

form {
  font-family: "Jost";
  width: 100%;
  max-width: 580px;
  height: 100%;
  max-height: 594px;
  padding: 25px 60px;
  background-color: var(--secondary-color);
  border-radius: var(--border-blocks);
  position: relative;
  @include flex-between();
  align-items: center;
  flex-direction: column;

  .title {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 144px;
    text-align: start;
  }

  .input-row {
    width: 100%;
    @include flex-between();
    gap: 30px;
    margin: 20px 0;
    
    label {
      margin: 0;
    }
  }

  label {
    width: 100%;
    display: block;
    margin: 20px 0;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    pointer-events: none;

    .label {
      margin-left: 5px;
    }

    input {
      width: 100%;
      height: 46px;
      margin-block: 3px 0;
      padding-inline: 15px;
      color: #fff;
      background-color: transparent;
      border-radius: 6px;
      border: 1px solid #848484;
      pointer-events: auto;

      &::placeholder {
        font-size: 14px;
      }

      &:hover {
        border-color: #555555;
      }

      &:focus {
        border-color: var(--main-red-color);
      }
    }

    .reset-pass {
      color: var(--main-red-color);
      max-width: fit-content;
      margin-top: 5px;
      font-size: 12px;
      font-weight: 400;
      pointer-events: auto;
      cursor: pointer;
    }
  }

  button {
    width: 100%;
    height: 44px;
    margin-top: 15px;
    font-size: 1rem;
  }

  .ads-container {
    width: 100%;
    height: 92px;
    margin-block: 25px;
    @include flex-between();

    .ad-block {
      background-color: rgba(197, 7, 61, 0.1);
      border-radius: var(--border-radius);
      padding: 5px 10px;
      color: #fff;
      width: 100%;
      max-width: 140px;
      height: 100%;

      .header {
        font-size: 14px;
        font-weight: 500;
        @include flex-between();
      }
  
      .line {
        border: none;
        height: 1px;
        border-radius: 1px;
        width: 100%;
        margin-block: 5px 10px;
        background-color: var(--main-red-color);
      }
  
      .content {
        .option {
          color: #fff;
          font-size: 12px;
          margin-bottom: 6px;
          display: flex;
          align-items: center;
  
          .dot {
            background-color: var(--main-red-color);
            width: 5px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            margin-right: 7px;
          }
        }
  
        .option.disabled {
          color: #C0C0C0;
  
          .dot {
            background-color: transparent;
            border: 1.5px solid #848484;
          }
        }
      }
    }
  }
}